<div class="cards-container">
    <mat-card class="dashboard-card">
      <div class="card-header">
        <span>Total Devices</span>
      </div>
      <mat-card-content class="card-content">
        <div class="number-container">
          <span class="number">{{ totalDevices }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="dashboard-card">
      <div class="card-header">
        <span>Total Categories</span>
      </div>
      <mat-card-content class="card-content">
        <div class="number-container">
          <span class="number">{{ totalCategories }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  